<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="false">

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/META-INF/cas-passport-*.xml
			classpath:spring/cas-passport.xml
			classpath:spring/cas-passport-*.xml
		</param-value>
	</context-param>

	<filter> <!-- targetBeanName not specified and it will find the filter bean named  'securityFilterChain' -->
		<filter-name>securityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>securityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>securityFilter</filter-name>
		<filter-class>com.kibou.passport.cas.example.web.filter.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>/index.jsp</welcome-file-list>
	
	<session-config>
    	 <tracking-mode>COOKIE</tracking-mode>
	</session-config>
</web-app>